/* Styles for the Demo Wrapper */
html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}
body {
  margin: 0;
  background-color: #e6e9ed;
  font-family: "Lato", sans-serif;
}
header {
  background-color: #254d86;
}
header h1,
header a {
  padding: 15px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}
header h1 {
  float: left;
  margin: 0;
}
header a {
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  float: right;
  background-color: #1a365e;
}
header a:hover {
  background-color: #1f4272;
}
.demo-content {
  width: 960px;
  height: 300px;
  margin-top: 90px;
  margin-right: auto;
  margin-left: auto;
}

/* Styles for the Advent Calendar */
ul#adventDoors {
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
}
#adventDoors li {
	position: absolute;
}
#adventDoors li a {
	color: #fff;
	width: 100%;
	height: 100%;
	font-size: 24px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-decoration: none;
	border: 1px #fff solid;
}
#adventDoors li a:not(.disabled):hover {
	color: #fff;
	background-color: transparent;
	background-color: rgba(255,255,255,0.15);
}
#adventDoors li a.disabled {
	border-color: #b6fe98;
	background-color: rgba(196,254,171,0.15);
	color: #b6fe98;
	cursor: default;
}